.qtree {
	position: relative;
}
/**列表li样式**/
.qtree li {
	height: 22px;
	list-style: none;
	position: relative;
	color: #a79797;
}
.qtree li .con {
	display: flex;
	width: 100%;
}
.qtree li .title {
	overflow:hidden;
	text-overflow: ellipsis;
	word-break: keep-all;
	white-space: nowrap;
}
/**+-折叠按钮矩形容器**/
.qtree li .bg-icon {
	flex-shrink:0;
	width: 11px;
	height: 11px;
	display:inline-block;
	float: left;
	margin-top: 6px;
	margin-right: 10px;
	position: relative;
	box-sizing: border-box;
}
/**无子节点的样式**/
.qtree li[has_child="0"] .bg-icon i {
	/*border-radius: 50%;*/
	background: #ddd;
	width: 6px;
	height: 6px;
	top: 2px;
	left: 2px;
	cursor: default;
}
.qtree li[has_child="0"] .bg-icon > i:before, .qtree li[has_child="0"] .bg-icon > i:after {
	display: none;
}
/**+-折叠按钮右侧连接线**/
.qtree li .bg-icon:before {
	position: absolute;
	left: 10px;
	top: 5px;
	content: '';
	border-top: 1px dotted #ddd;
	height: 1px;
	width: 8px;
}
/**+-折叠按钮**/
.qtree li .bg-icon i {
	width: 100%;
	height: 100%;
	display: inline-block;
	position: absolute;
	border: 1px solid #ddd;
	box-sizing: border-box;
	cursor: pointer;
}
.qtree li .bg-icon > i:before, .qtree li .bg-icon > i:after {
	position: absolute;
	left: 1px;
	top: 4px;
	content: '';
	border-top: 1px solid #ccc;
	height: 1px;
	width: 7px;
}
/**-收起按钮**/
.qtree li .bg-icon.close > i:after {
	border-left: 1px solid #ccc;
	border-top: none;
	height: 7px;
	width: 1px;
	left: 4px;
	top: 1px;
}
/**竖线**/
.qtree li .bg-icon > .guildline {
	width: 1px;
    border-left: 1px dotted #ddd;
    left: 5px;
    top: 11px;
    height: 10px;
    position: absolute;
	z-index: 1;/**需设置index否则li如果设置了背景色则会缩进的地方会被盖住看不见**/
}